In [11]:
# Load Dataset
import pandas as pd

# Replace 'your_dataset.csv' with the actual path or URL of your dataset
df = pd.read_csv('titanic.csv')

In [12]:
# Shape of the dataset
df.shape

(891, 12)

In [13]:
# Preview the data using head() & tail()
df.head()
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [14]:
# Descriptive Statistics
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
# Identifying missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
# Replacing missing values
# Option 1: Replace with mean/median/mode
df.fillna(df.mean(), inplace=True)  # Example for numeric columns

# Option 2: Drop missing values
df.dropna(inplace=True)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
# Uni-variate Analysis (Histogram)
import matplotlib.pyplot as plt

df['column_name'].hist()  # Replace 'column_name' with the column you want to analyze
plt.show()

KeyError: 'column_name'

In [8]:
# Bi-variate Analysis (Scatter Plot)
plt.scatter(df['column_x'], df['column_y'])  # Replace 'column_x' and 'column_y' with actual column names
plt.xlabel('column_x')
plt.ylabel('column_y')
plt.show()

SyntaxError: invalid syntax (3022952177.py, line 2)

In [9]:
# Multi-variate Analysis (Pair Plot from seaborn)
import seaborn as sns

sns.pairplot(df)
plt.show()

SyntaxError: invalid syntax (2017858848.py, line 2)

In [10]:
# Correlation Matrix
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True)
plt.show()

SyntaxError: invalid syntax (4095896390.py, line 2)

In [ ]:
# Outlier Detection using Box Plot
sns.boxplot(df['column_name'])  # Replace 'column_name' with the column you want to check for outliers
plt.show()